In [1]:
#pakages
import os
import psycopg2
import json
import git
import pandas as pd

In [5]:
#aggre_insurance
path1= "C:/Users/karan/OneDrive/Pictures/Desktop/PHONEPE/pulse/data/aggregated/insurance/country/india/state/"

agg_insur_list= os.listdir(path1)

columns1= {"States":[], "Years":[], "Quarter":[], "Insurance_type":[], "Insurance_count":[],"Insurance_amount":[] }

for state in agg_insur_list:
    cur_states =path1+state+"/"
    agg_year_list = os.listdir(cur_states)
    
    for year in agg_year_list:
        cur_years = cur_states+year+"/"
        agg_file_list = os.listdir(cur_years)

        for file in agg_file_list:
            cur_files = cur_years+file
            data = open(cur_files,"r")
            A = json.load(data)

            for i in A["data"]["transactionData"]:
                name = i["name"]
                count = i["paymentInstruments"][0]["count"]
                amount = i["paymentInstruments"][0]["amount"]
                columns1["Insurance_type"].append(name)
                columns1["Insurance_count"].append(count)
                columns1["Insurance_amount"].append(amount)
                columns1["States"].append(state)
                columns1["Years"].append(year)
                columns1["Quarter"].append(int(file.strip(".json")))


aggre_insurance = pd.DataFrame(columns1)

aggre_insurance["States"] = aggre_insurance["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggre_insurance["States"] = aggre_insurance["States"].str.replace("-"," ")
aggre_insurance["States"] = aggre_insurance["States"].str.title()
aggre_insurance['States'] = aggre_insurance['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [6]:
#aggre_transaction
path2 = "C:/Users/karan/OneDrive/Pictures/Desktop/PHONEPE/pulse/data/aggregated/transaction/country/india/state/"
         
agg_tran_list = os.listdir(path2)

columns2 ={"States":[], "Years":[], "Quarter":[], "Transaction_type":[], "Transaction_count":[],"Transaction_amount":[] }

for state in agg_tran_list:
    cur_states =path2+state+"/"
    agg_year_list = os.listdir(cur_states)
    
    for year in agg_year_list:
        cur_years = cur_states+year+"/"
        agg_file_list = os.listdir(cur_years)

        for file in agg_file_list:
            cur_files = cur_years+file
            data = open(cur_files,"r")
            B = json.load(data)

            for i in B["data"]["transactionData"]:
                name = i["name"]
                count = i["paymentInstruments"][0]["count"]
                amount = i["paymentInstruments"][0]["amount"]
                columns2["Transaction_type"].append(name)
                columns2["Transaction_count"].append(count)
                columns2["Transaction_amount"].append(amount)
                columns2["States"].append(state)
                columns2["Years"].append(year)
                columns2["Quarter"].append(int(file.strip(".json")))

aggre_transaction = pd.DataFrame(columns2)

aggre_transaction["States"] = aggre_transaction["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggre_transaction["States"] = aggre_transaction["States"].str.replace("-"," ")
aggre_transaction["States"] = aggre_transaction["States"].str.title()
aggre_transaction['States'] = aggre_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [7]:
#aggre_user
path3 = "C:/Users/karan/OneDrive/Pictures/Desktop/PHONEPE/pulse/data/aggregated/user/country/india/state/"
         
agg_user_list = os.listdir(path3)

columns3 = {"States":[], "Years":[], "Quarter":[], "Brands":[],"Transaction_count":[], "Percentage":[]}

for state in agg_user_list:
    cur_states = path3+state+"/"
    agg_year_list = os.listdir(cur_states)
    
    for year in agg_year_list:
        cur_years = cur_states+year+"/"
        agg_file_list = os.listdir(cur_years)
        
        for file in agg_file_list:
            cur_files = cur_years+file
            data = open(cur_files,"r")
            C = json.load(data)

            try:

                for i in C["data"]["usersByDevice"]:
                    brand = i["brand"]
                    count = i["count"]
                    percentage = i["percentage"]
                    columns3["Brands"].append(brand)
                    columns3["Transaction_count"].append(count)
                    columns3["Percentage"].append(percentage)
                    columns3["States"].append(state)
                    columns3["Years"].append(year)
                    columns3["Quarter"].append(int(file.strip(".json")))
            
            except:
                pass

aggre_user = pd.DataFrame(columns3)

aggre_user["States"] = aggre_user["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggre_user["States"] = aggre_user["States"].str.replace("-"," ")
aggre_user["States"] = aggre_user["States"].str.title()
aggre_user['States'] = aggre_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [8]:
#map_insurance
path4= "C:/Users/karan/OneDrive/Pictures/Desktop/PHONEPE/pulse/data/map/insurance/hover/country/india/state/"
map_insur_list= os.listdir(path4)

columns4= {"States":[], "Years":[], "Quarter":[], "Districts":[], "Transaction_count":[],"Transaction_amount":[] }

for state in map_insur_list:
    cur_states =path4+state+"/"
    agg_year_list = os.listdir(cur_states)
    
    for year in agg_year_list:
        cur_years = cur_states+year+"/"
        agg_file_list = os.listdir(cur_years)

        for file in agg_file_list:
            cur_files = cur_years+file
            data = open(cur_files,"r")
            D = json.load(data)

            for i in D["data"]["hoverDataList"]:
                name = i["name"]
                count = i["metric"][0]["count"]
                amount = i["metric"][0]["amount"]
                columns4["Districts"].append(name)
                columns4["Transaction_count"].append(count)
                columns4["Transaction_amount"].append(amount)
                columns4["States"].append(state)
                columns4["Years"].append(year)
                columns4["Quarter"].append(int(file.strip(".json")))


map_insurance = pd.DataFrame(columns4)

map_insurance["States"] = map_insurance["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_insurance["States"] = map_insurance["States"].str.replace("-"," ")
map_insurance["States"] = map_insurance["States"].str.title()
map_insurance['States'] = map_insurance['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [9]:
#map_transaction
path5= "C:/Users/karan/OneDrive/Pictures/Desktop/PHONEPE/pulse/data/map/transaction/hover/country/india/state/"
map_tran_list = os.listdir(path5)

columns5 = {"States":[], "Years":[], "Quarter":[],"District":[], "Transaction_count":[],"Transaction_amount":[]}

for state in map_tran_list:
    cur_states = path5+state+"/"
    map_year_list = os.listdir(cur_states)
    
    for year in map_year_list:
        cur_years = cur_states+year+"/"
        map_file_list = os.listdir(cur_years)
        
        for file in map_file_list:
            cur_files = cur_years+file
            data = open(cur_files,"r")
            E = json.load(data)

            for i in E['data']["hoverDataList"]:
                name = i["name"]
                count = i["metric"][0]["count"]
                amount = i["metric"][0]["amount"]
                columns5["District"].append(name)
                columns5["Transaction_count"].append(count)
                columns5["Transaction_amount"].append(amount)
                columns5["States"].append(state)
                columns5["Years"].append(year)
                columns5["Quarter"].append(int(file.strip(".json")))

map_transaction = pd.DataFrame(columns5)

map_transaction["States"] = map_transaction["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_transaction["States"] = map_transaction["States"].str.replace("-"," ")
map_transaction["States"] = map_transaction["States"].str.title()
map_transaction['States'] = map_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [10]:
#map_user
path6 = "C:/Users/karan/OneDrive/Pictures/Desktop/PHONEPE/pulse/data/map/user/hover/country/india/state/"
map_user_list = os.listdir(path6)

columns6 = {"States":[], "Years":[], "Quarter":[], "Districts":[], "RegisteredUser":[], "AppOpens":[]}

for state in map_user_list:
    cur_states = path6+state+"/"
    map_year_list = os.listdir(cur_states)
    
    for year in map_year_list:
        cur_years = cur_states+year+"/"
        map_file_list = os.listdir(cur_years)
        
        for file in map_file_list:
            cur_files = cur_years+file
            data = open(cur_files,"r")
            F = json.load(data)

            for i in F["data"]["hoverData"].items():
                district = i[0]
                registereduser = i[1]["registeredUsers"]
                appopens = i[1]["appOpens"]
                columns6["Districts"].append(district)
                columns6["RegisteredUser"].append(registereduser)
                columns6["AppOpens"].append(appopens)
                columns6["States"].append(state)
                columns6["Years"].append(year)
                columns6["Quarter"].append(int(file.strip(".json")))

map_user = pd.DataFrame(columns6)

map_user["States"] = map_user["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_user["States"] = map_user["States"].str.replace("-"," ")
map_user["States"] = map_user["States"].str.title()
map_user['States'] = map_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [11]:
#top_insurance

path7 = "C:/Users/karan/OneDrive/Pictures/Desktop/PHONEPE/pulse/data/top/insurance/country/india/state/"

top_insur_list = os.listdir(path7)

columns7 = {"States":[], "Years":[], "Quarter":[], "Pincodes":[], "Transaction_count":[], "Transaction_amount":[]}

for state in top_insur_list:
    cur_states = path7+state+"/"
    top_year_list = os.listdir(cur_states)

    for year in top_year_list:
        cur_years = cur_states+year+"/"
        top_file_list = os.listdir(cur_years)

        for file in top_file_list:
            cur_files = cur_years+file
            data = open(cur_files,"r")
            G = json.load(data)

            for i in G["data"]["pincodes"]:
                entityName = i["entityName"]
                count = i["metric"]["count"]
                amount = i["metric"]["amount"]
                columns7["Pincodes"].append(entityName)
                columns7["Transaction_count"].append(count)
                columns7["Transaction_amount"].append(amount)
                columns7["States"].append(state)
                columns7["Years"].append(year)
                columns7["Quarter"].append(int(file.strip(".json")))

top_insur = pd.DataFrame(columns7)

top_insur["States"] = top_insur["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_insur["States"] = top_insur["States"].str.replace("-"," ")
top_insur["States"] = top_insur["States"].str.title()
top_insur['States'] = top_insur['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [12]:
#top transaction


path8="C:/Users/karan/OneDrive/Pictures/Desktop/PHONEPE/pulse/data/top/transaction/country/india/state"

top_transaction_list = os.listdir(path8)

columns8 = {
    "pincodes": [],
    "Transaction_count": [],
    "Transaction_amount": [],
    "states": [],
    "years": [],
    "Quarter": []
}

for state in top_transaction_list:
    cur_state_path = os.path.join(path8, state)
    state_subdirs = os.listdir(cur_state_path)
    
    for year in state_subdirs:
        cur_year = os.path.join(cur_state_path, year)
        agg_file_list = os.listdir(cur_year)
        
        for file in agg_file_list:
            cur_file = os.path.join(cur_year, file)
            with open(cur_file) as f:
                data = json.load(f)
                for item in data.get("data", {}).get("pincodes", []):
                    entityName = item["entityName"]
                    count = item["metric"]["count"]
                    amount = item["metric"]["amount"]
                    columns8["pincodes"].append(entityName)
                    columns8["Transaction_count"].append(count)
                    columns8["Transaction_amount"].append(amount)
                    columns8["states"].append(state)
                    columns8["years"].append(year)
                    columns8["Quarter"].append(int(file.strip(".json")))
                    top_transaction = pd.DataFrame(columns8)
                    
                    
top_transaction["states"]=   top_transaction["states"].str.replace('andaman-&-nicobar-islands',"Andaman & Nicobar") 
top_transaction["states"]=   top_transaction["states"].str.replace("-"," ")
top_transaction["states"]=    top_transaction["states"].str.title()
top_transaction["states"]=   top_transaction["states"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra  and Nagar and Haveli and Daman and Diu')

In [13]:
#top_user
path9 = "C:/Users/karan/OneDrive/Pictures/Desktop/PHONEPE/pulse/data/top/user/country/india/state/"
top_user_list = os.listdir(path9)

columns9 = {"States":[], "Years":[], "Quarter":[], "Pincodes":[], "RegisteredUser":[]}

for state in top_user_list:
    cur_states = path9+state+"/"
    top_year_list = os.listdir(cur_states)

    for year in top_year_list:
        cur_years = cur_states+year+"/"
        top_file_list = os.listdir(cur_years)

        for file in top_file_list:
            cur_files = cur_years+file
            data = open(cur_files,"r")
            I = json.load(data)

            for i in I["data"]["pincodes"]:
                name = i["name"]
                registeredusers = i["registeredUsers"]
                columns9["Pincodes"].append(name)
                columns9["RegisteredUser"].append(registereduser)
                columns9["States"].append(state)
                columns9["Years"].append(year)
                columns9["Quarter"].append(int(file.strip(".json")))

top_user = pd.DataFrame(columns9)

top_user["States"] = top_user["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_user["States"] = top_user["States"].str.replace("-"," ")
top_user["States"] = top_user["States"].str.title()
top_user['States'] = top_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [22]:


# Assuming the dataframes are already created: aggre_insurance, aggre_transaction, aggre_user, map_insurance, map_transaction, map_user, top_insur, top_transaction, top_user

# PostgreSQL connection
mydb = psycopg2.connect(host="localhost",
                        user="postgres",
                        password="karan1122",
                        database="phonepe_data",
                        port="5432")
cursor = mydb.cursor()

# Function to create tables and insert data
def create_and_insert_table(create_query, insert_query, dataframe):
    cursor.execute(create_query)
    mydb.commit()
    
    # Check if the required columns exist in the dataframe
    required_columns = [col.split()[-1] for col in create_query.split('(')[1].split(')')[0].split(',')]
    missing_columns = [col for col in required_columns if col not in dataframe.columns]
    if missing_columns:
        print(f"Missing columns in dataframe: {missing_columns}")
        return
    
    # Insert data in bulk
    values = [tuple(row[col] for col in required_columns) for index, row in dataframe.iterrows()]
    cursor.executemany(insert_query, values)
    mydb.commit()

# Aggregated insurance table
create_query1 = '''CREATE TABLE IF NOT EXISTS aggregated_insurance (
                      States VARCHAR(50),
                      Years INT,
                      Quarter INT,
                      Insurance_type VARCHAR(50),
                      Insurance_count BIGINT,
                      Insurance_amount BIGINT)'''
insert_query1 = '''INSERT INTO aggregated_insurance (
                      States, Years, Quarter, Insurance_type, Insurance_count, Insurance_amount)
                  VALUES (%s, %s, %s, %s, %s, %s)'''
create_and_insert_table(create_query1, insert_query1, aggre_insurance)
#aggregated insurance table
create_query1= '''CREATE TABLE if not exists aggregated_insurance (States varchar(50),
                                                                      Years int,
                                                                      Quarter int,
                                                                      Insurance_type varchar(50),
                                                                      Insurance_count bigint,
                                                                      Insurance_amount bigint
                                                                      )'''
cursor.execute(create_query1)
mydb.commit()

for index,row in aggre_insurance.iterrows():
    insert_query1 = '''INSERT INTO aggregated_insurance (States, Years, Quarter, Insurance_type, Insurance_count, Insurance_amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Insurance_type"],
              row["Insurance_count"],
              row["Insurance_amount"]
              )
    cursor.execute(insert_query1,values)
    mydb.commit()

# Aggregated transaction table
create_query2= '''CREATE TABLE IF NOT EXISTS aggregated_transaction (
                      States VARCHAR(50),
                      Years INT,
                      Quarter INT,
                      Transaction_type VARCHAR(50),
                      Transaction_count BIGINT,
                      Transaction_amount BIGINT)'''
insert_query2 = '''INSERT INTO aggregated_transaction (
                      States, Years, Quarter, Transaction_type, Transaction_count, Transaction_amount)
                  VALUES (%s, %s, %s, %s, %s, %s)'''
create_and_insert_table(create_query2, insert_query2, aggre_transaction)

# Aggregated user table
create_query3 = '''CREATE TABLE IF NOT EXISTS aggregated_user (
                      States VARCHAR(50),
                      Years INT,
                      Quarter INT,
                      Brands VARCHAR(50),
                      Transaction_count BIGINT,
                      Percentage FLOAT)'''
insert_query3 = '''INSERT INTO aggregated_user (
                      States, Years, Quarter, Brands, Transaction_count, Percentage)
                  VALUES (%s, %s, %s, %s, %s, %s)'''
create_and_insert_table(create_query3, insert_query3, aggre_user)

# Map insurance table
create_query4 = '''CREATE TABLE IF NOT EXISTS map_insurance (
                      States VARCHAR(50),
                      Years INT,
                      Quarter INT,
                      District VARCHAR(50),
                      Transaction_count BIGINT,
                      Transaction_amount FLOAT)'''
insert_query4= '''INSERT INTO map_insurance (
                      States, Years, Quarter, District, Transaction_count, Transaction_amount)
                  VALUES (%s, %s, %s, %s, %s, %s)'''
create_and_insert_table(create_query4, insert_query4, map_insurance)

# Map transaction table
create_query5 = '''CREATE TABLE IF NOT EXISTS map_transaction (
                      States VARCHAR(50),
                      Years INT,
                      Quarter INT,
                      District VARCHAR(50),
                      Transaction_count BIGINT,
                      Transaction_amount FLOAT)'''
insert_query5 = '''INSERT INTO map_transaction (
                      States, Years, Quarter, District, Transaction_count, Transaction_amount)
                  VALUES (%s, %s, %s, %s, %s, %s)'''
create_and_insert_table(create_query5, insert_query5, map_transaction)

# Map user table
create_query6 = '''CREATE TABLE IF NOT EXISTS map_user (
                      States VARCHAR(50),
                      Years INT,
                      Quarter INT,
                      Districts VARCHAR(50),
                      RegisteredUser BIGINT,
                      AppOpens BIGINT)'''
insert_query6 = '''INSERT INTO map_user (
                      States, Years, Quarter, Districts, RegisteredUser, AppOpens)
                  VALUES (%s, %s, %s, %s, %s, %s)'''
create_and_insert_table(create_query6, insert_query6, map_user)

# Top insurance table
create_query7 = '''CREATE TABLE IF NOT EXISTS top_insurance (
                      States VARCHAR(50),
                      Years INT,
                      Quarter INT,
                      Pincodes INT,
                      Transaction_count BIGINT,
                      Transaction_amount BIGINT)'''
insert_query7 = '''INSERT INTO top_insurance (
                      States, Years, Quarter, Pincodes, Transaction_count, Transaction_amount)
                  VALUES (%s, %s, %s, %s, %s, %s)'''
create_and_insert_table(create_query7, insert_query7, top_insur)

# Top transaction table
create_query8 = '''CREATE TABLE IF NOT EXISTS top_transaction (
                      States VARCHAR(50),
                      Years INT,
                      Quarter INT,
                      Pincodes INT,
                      Transaction_count BIGINT,
                      Transaction_amount BIGINT)'''
insert_query8 = '''INSERT INTO top_transaction (
                      States, Years, Quarter, Pincodes, Transaction_count, Transaction_amount)
                  VALUES (%s, %s, %s, %s, %s, %s)'''
create_and_insert_table(create_query8, insert_query8, top_transaction)

# Top user table
create_query9 = '''CREATE TABLE IF NOT EXISTS top_user (
                      States VARCHAR(50),
                      Years INT,
                      Quarter INT,
                      Pincodes INT,
                      RegisteredUser BIGINT)'''
insert_query9 = '''INSERT INTO top_user (
                      States, Years, Quarter, Pincodes, RegisteredUser)
                  VALUES (%s, %s, %s, %s, %s)'''
create_and_insert_table(create_query9, insert_query9, top_user)

# Close the connection
cursor.close()
mydb.close()

Missing columns in dataframe: ['VARCHAR']
Missing columns in dataframe: ['VARCHAR']
Missing columns in dataframe: ['VARCHAR']
Missing columns in dataframe: ['VARCHAR']
Missing columns in dataframe: ['VARCHAR']
Missing columns in dataframe: ['VARCHAR']
Missing columns in dataframe: ['VARCHAR']
Missing columns in dataframe: ['VARCHAR']
Missing columns in dataframe: ['VARCHAR']